@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body{
    margin: 0;
}
.yode-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(120deg, #84fab0, #8fd3f4,#fad0c4);

}

.photo-yode {
    width: 155px;
    height: 160px;
    border-radius: 60%;
    object-fit: cover;
    margin-right: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.yode-description {
    width: 500px;
}

.yode-titre h2 {
    margin: 0;
    font-weight: 600;
    color: #333;
}

.desc-yode p {
    color:#333;
    font-size: 16px;
}
.ifran{
    color:crimson;
}
